<!DOCTYPE html>
{# Load static files #}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script> 


<script src="{% static 'js/bootstrap.min.js' %}"></script>





<html lang="{% if request.LANGUAGE_CODE %}{{ request.LANGUAGE_CODE }}{% else %}en{% endif %}">
    <head>
        <!-- This meta tag *must* come first in the head; any other head content must come *after* these tag -->
        <meta charset="utf-8">


        <!-- Page title -->
        <title>{% block head-title %}Microdesk{% endblock %}</title>


    </head>


    <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Tracker</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/admin/">Admin<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dashboards<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'staff_list' %}">HR</a></li>
            <li class="divider"></li>
            <!--
            <li><a href="{% url 'dashboard' %}">Procurement</a></li>
            <li class="divider"></li>
          -->
            <li><a href="{% url 'asset_list' %}">Assets</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'report-list' %}">Reports</a></li>
          </ul>
        </li>
      </ul>
      <!--
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      -->
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'auth_logout' %}">Log out</a></li>
        {% else %}
            <li><a href="{% url 'auth_login' %}">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>



{% for message in messages %}
    <div class="alert alert-dismissible alert-{{ message.tags }}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <span>
    <h4>{{ message.tags }}!!</h4>
    <p> {{ message }}
    </p>
    </span>
</div>
{% endfor %}




{% block page-content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% block sidebar-content %}
            {% endblock %}
        </div>
        <div class = "col-md-10">
            
                {% block body-content %}
                {% endblock %}
            
            <div>
            {% block table-content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}



</body>





</html>
