{% extends "base.html" %}
{% load staticfiles %}

{% block body-content %}

<div class="page header">
    <h1 id='name'>{{ staff.first_name }} {{ staff.last_name }}</h1>
    <h2>{{ position.program }} {{ position.title }}</h2>
    
</div>

<div>
    <img src="/static/flags/{{ countryflag }}.gif">           {% if staff.active_contract %}<span class="label label-success">Active Contract</span>{% else %}<span class="label label-default">No Contract</span>{% endif %}
</div>

<div>
    <img src="/media/{{ staff.photo }}">
</div>

<hr>

<div>
    {% if contract_set %}
        <h2> Contracts </h2>
        {% for c in contract_set %}
        <div class="jumbotron">

            <h4><a href="#"><strong>Contract {{ c.contract_code }} - {{ c.get_program }} - {{ c.get_position_title }} - {{c.get_duty_station }}</strong></a></h4>

            {% if c.is_active %}<span class="label label-success">Active</span>{% else %}<span class="label label-default">Inactive</span>
            {% endif %}

            {% if c.ending_soon and c.renew_after_expires %}
                <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>This contract is ending soon!</strong>  <p>It has been set for renewal, but there is no new contract yet.</p>
                </div>
            {% endif %}

            <h4>Start : {{ c.start_date }}</h4>
            <h4>End : {{ c.end_date }}</h4>
            <h4>Rate : ${{ c.get_monthly_rate }} pcm</h4>
            <h4>Action After Expiration: <strong>{{ c.action_after_expiration }}</strong></h4>
            <h4>Task Progress: </h4>
            <div class="progress progress-striped active">
            <div class="progress-bar" style="width:{{ c.tasks_progress }}%"></div>
            </div>
            <div>
            {% if c.tasks_completed %}<p><strong>All contract tasks are completed.</strong></p>
            {% else %}<p><strong>There are unfinished tasks for this contract.</strong></p>
            {% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}
    {% else %}
        <h2> There are no contracts assigned to this staff member. </h2>
    {% endif %}
</div>

<div><h2>

</div>



{% endblock %}
